<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Password Reset</title>
</head>
<body>
    <p>Hi {{username}},</p>
    <p>To reset your password, please click the button below:</p>
    <p>
        <a href="{{host}}auth/set_new_password/{{token}}" style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 4px;">Reset password</a>
    </p>
    <br>
    <p><strong>IMPORTANT INFO:</strong></p>
    <p>The link will be working only for 1 hour.</p>

    <p>If the button doesn't work, just copy and paste this link to your web browser:</p>
    <p>{{host}}auth/set_new_password/{{token}}</p>

    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Thanks,</p>
    <p>Avargio</p>
</body>
</html>
